
body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font: weight 400px,500px ;
    color: #2b283a;
    margin: 0;
} 

/*typography  */
h1,h3{
    margin: 0;
}

h1{
    font-size: 36px;
    color: whitesmoke;
}

h2{
   
    margin-top: 0;
}

h3{
    font-size: 20px;
    color: #d0aaff;
}

p{
    line-height: 23px;
    
}

/* links */

a{
    color: #ef5839;
    text-decoration:underline dotted;
}

a:hover, a:active{
    color:#d4b44c ;
}

.btn-dark,
.btn-mid,
.btn-light{
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin: 10px
}

.btn-dark:hover,
.btn-mid:hover,
.btn-light:hover,
.btn-dark:active,
.btn-mid:active,
.btn-light:active{
    background-color: #f3e885;
    color: #2b283a;
}

.btn-dark{
    background-color: #5f29a3;
    color: whitesmoke;
}

.btn-mid{
    background-color: #f0e0ff;
    color: #5f29a3;
}

.btn-light{
    background-color: whitesmoke;
    color: #5f29a3;
}

/* Layout */

header,
section,
footer{
    padding: 45px 0;
}

header,.section-two{
    background-color: #5f29a3;
}

.section-two{
    color: whitesmoke;
}

.container{
    width:620px ;
    margin: 0 auto;
}

footer{
    color: #5f29a3;
    /* margin: 10px 0;   do not add margin look at section and header*/
    text-align: center;
}

/* Images */

.main-image{
    width:100% ;
}

.feature-image{
    width: 300px;
    border-radius: 4.6px;
}

.section-two-image-container{
    display: flex;
    justify-content:space-between ;
}