body{
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Add the font-size/colour to the body */
    font-size: 16px;
}
.main-header{
    margin: 45px 0;
    padding-left: 25px;
}
H1{
    color: #2e7ad3;
    font-size: 48px;
}
.bck-grd{
    background-color: #f1f1f1;
     padding:1px 15px 15px 15px;
     /* Made the width 450px */
     width: 450px;
     
}

H2{ 
    color: #104c90;
    font-size: 32px;
    
}

p{
    margin-top: 25px;
    margin-bottom: 9px;
}

a{
    color: #ff8000;
}

a:hover, a:focus{
    color: #104c90;
}